body {
height: 100%;
margin: 0;
padding: 0;
background: #fff;
background-image: url("i/.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
color: #000;
font-family: 'Open Sans', sans-serif;
font-size: 15px;
letter-spacing: 2px;
-webkit-user-select: none; /* Safari/Chome no selection */
-webkit-touch-callout: none; /* Safari no selection */
-moz-user-select: none; /* Mozilla no selection */
-ms-user-select: none; /* IE 10 and IE 11 no selection */
user-select: none; /* Standard syntax no selection */
}

@media (min-width: 400px) {
.profile {
width: 75%;
}
}

@media (max-width: 767px) {
.profile {
width: 400px;
}
}

.top {
padding-top: 50px;
}

.profile {
margin-left: auto;
margin-right: auto;
margin-top: 0;
margin-bottom: 0;
background-color: rgba(0, 0, 0, 0.0);
box-sizing: border-box;
padding-left: 20px;
padding-right: 20px;
border: 0px solid #eee;
border-top: 0px;
border-bottom: 0px;
text-align: center;
height: 100%;
overflow-y: scroll;
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.profile::-webkit-scrollbar {
  display: none;
}

.logo {
display: block;
margin-left: auto;
margin-right: auto;
max-width: 80%;
border-radius: 0%;
}

.profile-name {
font-size: 30px;
font-weight: bold;
padding: 20px;
}

.marker-icon { 
height: 15px;
filter: invert(100%);
}

.profile-short {
line-height: 1.5;
padding-bottom: 20px;
}

.icons { 
height: 44px;
filter: invert(100%);
padding-right: 10px;
padding-left: 10px;
}

.icons:hover { 
height: 44px;
filter: invert(50%);
padding-right: 5px;
padding-left: 5px;
}

.links {
margin-top: 20px;
padding: 20px;
border: 1px solid white;
border-width: 2px;
width: 250px;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 25px;
background-color: rgba(0, 0, 0, 0.3);
}

a {
text-decoration: none;
color: white;
transition: color 1s;
}

.links:hover {
color: #fff;
border-color: rgba(187, 187, 187, 0.3);
background-color: rgba(187, 187, 187, 0.3);
}

.services {
margin-top: 10px;
padding: 10px;
border: 1px solid white;
border-width: 2px;
width: 300px;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 25px;
background-color: rgba(0, 0, 0, 0.3);
}

/* Style the floating logo */
.floating-logo {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 0 0 20px 0;
    padding: 5px;
}

.floating-logo ul {
    list-style: none;
    text-align: left;
}

.floating-logo li {
    margin-bottom: 5px;
}

.floating-logo a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.floating-logo a:hover {
color: grey;
}

/* Style the floating social */
.floating-social {
    position: fixed;
    bottom: 0px;
 	width: 100%;
 	display: flex;
 	align-items: center;
  	justify-content: center;
    background-color: rgba(0, 0, 0, 1.0);
    border-radius: 0 0 0 0;
    padding-top: 15px;
	padding-bottom: 15px;
}

.floating-social ul {
    list-style: none;
    text-align: left;
}

.floating-social li {
    margin-bottom: 5px;
}

.floating-social a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.floating-social a:hover {
color: grey;
}
